.App {
  text-align: left;
  max-height: 100vh;
  width: 100vw;
  display: grid;
  overflow: hidden;
}

.nav {
  display: flex;
  margin: 1.2rem 1.5rem;
}

.nav__modeBtn {
  color: grey;
  margin: 0 2%;
}

.nav__modeBtn:hover,
.nav__modeBtn.active {
  color: black;
}
