.mosaic {
  display: grid;
  align-self: center;
  justify-self: center;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr); /*1fr = fill up all the available space*/
  grid-gap: 10px;

  width: 80vw;
  height: 80vh;
  position: relative; /*for .mosaic__btn-wrapper*/
}

.mosaic__items {
  background-size: cover;
  background-position: center;
  animation: fadeIn 250ms backwards;
  box-shadow: 2px 2px 2px grey;
  cursor: pointer;
}

.mosaic__items:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 4px grey;
  transition: all 200ms;
}

.mosaic__items.active {
  width: 80vw;
  height: 80vh;
  z-index: 1;
  position: absolute;
  transform: none; /*disable the hover scale effect*/
  box-shadow: 4px 4px 4px grey;
  cursor: default;
}

/******************** to control the size of the mosaic__items *********************/
.mosaic__items-1,
.mosaic__items-6,
.mosaic__items-11 {
  grid-column: span 2;
  grid-row: span 2;
}

.mosaic__items-2 {
  grid-column: span 3;
  grid-row: span 3;
}

.mosaic__items-3 {
  grid-row: span 4;
}

.mosaic__items-4,
.mosaic__items-5,
.mosaic__items-10,
.mosaic__items-12 {
  grid-row: span 2;
}

.mosaic__items-9 {
  grid-row: span 3;
  grid-column: span 2;
}

.mosaic__items-7 {
  grid-row: span 4;
  grid-column: span 2;
}
/****************************************************************************************/
/******************** to control fadeIn delay of the mosaic__items *********************/

.mosaic__items-2,
.mosaic__items-6 {
  animation-delay: 200ms;
}

.mosaic__items-3,
.mosaic__items-8,
.mosaic__items-10 {
  animation-delay: 400ms;
}

.mosaic__items-4,
.mosaic__items-11,
.mosaic__items-9 {
  animation-delay: 600ms;
}

.mosaic__items-5,
.mosaic__items-12 {
  animation-delay: 800ms;
}

.mosaic__items-7 {
  animation-delay: 1000ms;
}

/************************************************************************************/
/*************** to control fadeIn animation patten of the mosaic__items *********************/
@keyframes fadeIn {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/************************************************************************************/

@media only screen and (max-width: 600px) {
  .mosaic {
    grid-gap: 5px;
  }
}
